/ClinicalTrials_WS/bin/ja
/ClinicalTrials_WS/bin/zh-CN
/ClinicalTrials_WS/bin/WS_CNMC.dll
/ClinicalTrials_WS/bin/WS_CNMC.dll.config
/ClinicalTrials_WS/bin/WS_CNMC.pdb
/ClinicalTrials_WS/bin/de
/ClinicalTrials_WS/bin/es
/ClinicalTrials_WS/bin/fi
/ClinicalTrials_WS/bin/fr
/ClinicalTrials_WS/CSS
/ClinicalTrials_WS/obj
/ClinicalTrials_WS/bin/Back
