/ClinicalTrials_WS/bin/ja
/ClinicalTrials_WS/bin/zh-CN
/ClinicalTrials_WS/bin/WS_CNMC.dll
/ClinicalTrials_WS/bin/WS_CNMC.dll.config
/ClinicalTrials_WS/bin/WS_CNMC.pdb
/ClinicalTrials_WS/bin/de
/ClinicalTrials_WS/bin/es
/ClinicalTrials_WS/bin/fi
/ClinicalTrials_WS/bin/fr
/ClinicalTrials_WS/CSS
/ClinicalTrials_WS/obj
/ClinicalTrials_WS/bin/Back
/.vs/ClinicalTrials_WS/config/applicationhost.config
/.vs/ClinicalTrials_WS/v15/.suo
/.vs/ClinicalTrials_WS/v15/sqlite3/storage.ide
/.vs/ClinicalTrials_WS/v16/.suo
/.vs/ClinicalTrials_WS/v16/Server/sqlite3/db.lock
/.vs/ClinicalTrials_WS/v16/Server/sqlite3/storage.ide
/.vs/ClinicalTrials_WS/v16/Server/sqlite3/storage.ide-shm
/.vs/ClinicalTrials_WS/v16/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/packages/Newtonsoft.Json.10.0.3/LICENSE.md
/packages/Newtonsoft.Json.10.0.3/Newtonsoft.Json.10.0.3.nupkg
/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/tools/install.ps1
